services:
    php-apache:
        build: .
        ports:
            - 80:80
        volumes:
            - ./:/var/www/html
            - bnote_config:/var/www/html/BNote/config
            - bnote_data:/var/www/html/BNote/data
        env_file:
            - .env
        depends_on:
            - mariadb
        restart: unless-stopped

    mariadb:
        image: mariadb:11.4
        volumes:
            - mariadb:/var/lib/mysql
        env_file:
            - .env
        restart: unless-stopped

volumes:
    mariadb:
    bnote_config:
    bnote_data:
